[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matplotlib = "*"
boilerplot = {file = ".", editable = true}

[dev-packages]
ipykernel = "*"
numpy = "*"

[requires]
python_version = "3.11"
